/* .carousel.item{
    height: 32rem;
    width: 32rem;
} */
/* .container{
    height: 32rem;
    width: 32rem;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
} */
/* .carousel-item{
image-resolution: 400*400;
} */